.popular__btns{
  padding: .5rem;
  font-size:1.5rem;
  background: #4178dc;
  border:1px solid hsl(219,69%,56%);
  color: white;


  &.next{
    border-top-right-radius: .5rem;
  }

  &.prev{
    border-top-left-radius: .5rem;
  }
}
  